# Konfigurasi Database Lokal (Ganti sesuai kredensial MariaDB Anda)
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/centroabsen"

# Kunci Rahasia JWT
JWT_SECRET="ganti-ini-dengan-string-acak-yang-panjang"

# Port Server Backend API
PORT=4000
